## PANDAS ADVANCE 2 ASSIGNMENT

Consider following code to answer further questions:
import pandas as pd
course_name = [‘Data Science’, ‘Machine Learning’, ‘Big Data’, ‘Data Engineer’]
duration = [2,3,6,4]
df = pd.DataFrame(data = {‘course_name’ : course_name, ‘duration’ : duration})

Q1. Write a code to print the data present in the second row of the dataframe, df.

In [1]:
import pandas as pd

course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2, 3, 6, 4]

df = pd.DataFrame(data={'course_name': course_name, 'duration': duration})

second_row = df.iloc[1]
print(second_row)

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

In pandas, the loc and iloc functions are used to access and retrieve data from a DataFrame. Here's the difference between the two:

loc: This function is label-based and is used to access rows or columns by their label/index. The loc function takes two arguments: the row index label(s) and the column label(s). It returns a subset of the DataFrame based on the specified labels.

iloc: This function is integer-based and is used to access rows or columns by their integer position. The iloc function takes two arguments: the row index position(s) and the column index position(s). It returns a subset of the DataFrame based on the specified positions.

Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df then find the output for both new_df.loc[2] and new_df.iloc[2].
Did you observe any difference in both the outputs? If so then explain it.
Consider the below code to answer further questions:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [2]:
import pandas as pd
import numpy as np

columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1, 2, 3, 4, 5, 6]

# Creating a DataFrame:
df1 = pd.DataFrame(np.random.rand(6, 6), columns=columns, index=indices)

reindex = [3, 0, 1, 2]
new_df = df1.reindex(reindex)

print("new_df.loc[2]:")
print(new_df.loc[2])

print("\nnew_df.iloc[2]:")
print(new_df.iloc[2])

new_df.loc[2]:
column_1    0.677346
column_2    0.806024
column_3    0.399304
column_4    0.727715
column_5    0.268707
column_6    0.751043
Name: 2, dtype: float64

new_df.iloc[2]:
column_1    0.750352
column_2    0.074573
column_3    0.180109
column_4    0.142864
column_5    0.131565
column_6    0.121822
Name: 1, dtype: float64

Yes, there will be a difference in the outputs of new_df.loc[2] and new_df.iloc[2].

new_df.loc[2] uses label-based indexing and will return the row with the label/index 2. Since we have reindexed the DataFrame, the label 2 in the new_df corresponds to the original row with index 1 in the df1 DataFrame.

new_df.iloc[2] uses integer-based indexing and will return the third row (index position 2) in the new_df DataFrame, according to the new indexing after reindexing.

The key difference is that loc operates based on labels/index values, while iloc operates based on the integer position of rows/columns. In this case, after reindexing, the labels/indexes in new_df have changed, leading to different outputs when using loc and iloc to access the third row.

Q4. Write a code to find the following statistical measurements for the above dataframe df1:
(i) mean of each and every column present in the dataframe.
(ii) standard deviation of column, ‘column_2’

In [3]:
import pandas as pd
import numpy as np

columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1, 2, 3, 4, 5, 6]

# Creating a DataFrame:
df1 = pd.DataFrame(np.random.rand(6, 6), columns=columns, index=indices)

#  Mean of each column
column_means = df1.mean()
print("Mean of each column:")
print(column_means)

# Standard deviation of column 'column_2'
column_2_std = df1['column_2'].std()
print("\nStandard deviation of column 'column_2':")
print(column_2_std)

Mean of each column:
column_1    0.374071
column_2    0.563407
column_3    0.688515
column_4    0.456969
column_5    0.388023
column_6    0.568989
dtype: float64

Standard deviation of column 'column_2':
0.43775113320951337

Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.
If you are getting errors in executing it then explain why.
[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [4]:
import pandas as pd
import numpy as np

columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1, 2, 3, 4, 5, 6]

# Creating a DataFrame:
df1 = pd.DataFrame(np.random.rand(6, 6), columns=columns, index=indices)

# Replace data in the second row of 'column_2' with a string value
df1.loc[2, 'column_2'] = 'string_data'  # Assign a string value of your choice

# Calculate the mean of 'column_2'
column_2_mean = df1['column_2'].mean()
print("Mean of column 'column_2':")
print(column_2_mean)

TypeError: unsupported operand type(s) for +: 'float' and 'str'

Executing the above code will raise an error when trying to calculate the mean of 'column_2' after replacing the data with a string value. This error occurs because the presence of a string value in a column that is expected to contain numerical data will prevent the calculation of numerical statistics like the mean.

If you want to calculate the mean of 'column_2', it is important to ensure that the data in that column consists of numerical values, not strings.

Q6. What do you understand about the windows function in pandas and list the types of windows
functions?

In pandas, a window function, also known as a rolling or moving function, is a function that operates on a sliding window of data within a DataFrame or a Series. It allows you to perform calculations on a subset of data defined by a window or a fixed-size rolling window.

Window functions are commonly used for time series analysis, signal processing, and statistical calculations. They provide a flexible way to compute various aggregate metrics, such as moving averages, cumulative sums, exponential moving averages, and more.

Pandas provides several types of window functions, including:

1. Rolling Functions
2. Expanding Functions
3. EWM (Exponentially Weighted Moving) Functions

Q7. Write a code to print only the current month and year at the time of answering this question.
[Hint: Use pandas.datetime function]

In [6]:
import pandas as pd

# Get the current date and time
current_datetime = pd.to_datetime('today')

# Extract the month and year from the current date
current_month = current_datetime.month
current_year = current_datetime.year

# Print the current month and year
print("Current month:", current_month)
print("Current year:", current_year)

Current month: 7
Current year: 2023

Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta. The
program should prompt the user to enter the dates and display the result.

In [7]:
import pandas as pd

date1 = input("Enter the first date (YYYY-MM-DD): ")
date2 = input("Enter the second date (YYYY-MM-DD): ")

date1 = pd.to_datetime(date1)
date2 = pd.to_datetime(date2)

diff = date2 - date1

days = diff.days
hours = diff.seconds // 3600
minutes = (diff.seconds // 60) % 60


print("Difference between the dates:")
print("Days:", days)
print("Hours:", hours)
print("Minutes:", minutes)

Enter the first date (YYYY-MM-DD):  1995-12-25
Enter the second date (YYYY-MM-DD):  1998-12-29

Difference between the dates:
Days: 1100
Hours: 0
Minutes: 0